<h2 mat-dialog-title>{{ 'SETTINGS_SECURITY_CALENDAR' | translate }}</h2>
<mat-dialog-content>
  <div *ngIf="calendarToken != null" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <mat-form-field appearance="outline" fxFlex="96%">
      <mat-label>{{ 'SETTINGS_SECURITY_MDOAL_CALENDAR_INPUT_TITLE' | translate }}</mat-label>
      <input matInput readonly value="{{ calendarToken }}" #calendarTokenElement />
    </mat-form-field>

    <div fxFlex="47%">
      <button (click)="copyTokenToClipboard(calendarTokenElement)" mat-flat-button color="accent" style="width: 100%">
        {{ 'SETTINGS_SECURITY_MODAL_CALENDAR_COPY_TOKEN_TOOLTIP' | translate }}
      </button>
    </div>

    <div fxFlex="47%">
      <button (click)="resetCalendarToken()" color="warn" mat-flat-button style="width: 100%;">
        {{ 'SETTINGS_SECURITY_MODAL_CALENDAR_RESET_TOKEN' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="calendarToken == null">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
</mat-dialog-actions>
