<mat-expansion-panel style="margin-bottom: 15px;" *ngIf="!resultSubgroup?.event?.anonymous">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ resultSubgroup.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutGap="2%">
    <!-- Chart for the subgroups -->
    <app-result-user-bar-chart
      [resultUsers]="resultSubgroup.getResultUsers()"
      [decisions]="resultSubgroup.event.getDecisions()"
    ></app-result-user-bar-chart>

    <div
      fxLayout="row"
      fxLayoutAlign="end"
      *ngIf="this.myUserService.hasPermission(ROOT_PERMISSION) || this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)"
    >
      <mat-slide-toggle (change)="changeAdminMode($event)" labelPosition="before">
        {{ 'EVENTS_ADMINISTRATION_INFO_EVENT_SHOW_ADMINISTRATION_MODE' | translate }}
      </mat-slide-toggle>
    </div>

    <app-result-user-table
      [resultUsers]="resultSubgroup.getResultUsers()"
      [decisions]="resultSubgroup.event.getDecisions()"
      *ngIf="
        resultSubgroup != null &&
        (!showAdminModeInResultUserTable ||
          (!this.myUserService.hasPermission(ROOT_PERMISSION) && !this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)))
      "
    >
    </app-result-user-table>

    <app-event-user-management
      *ngIf="
        resultSubgroup != null &&
        showAdminModeInResultUserTable &&
        (this.myUserService.hasPermission(ROOT_PERMISSION) || this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION))
      "
      [resultUsers]="resultSubgroup.getResultUsers()"
      [event]="resultSubgroup.event"
    ></app-event-user-management>
  </div>
</mat-expansion-panel>

<mat-card *ngIf="resultSubgroup?.event?.anonymous">
  <mat-card-header>
    <mat-card-title style="font-size: 17px">{{ resultSubgroup.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="resultSubgroup.getResultUsers().length === 0"> {{ 'NO_DATA' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-result-user-bar-chart
      [resultUsers]="resultSubgroup.getResultUsers()"
      *ngIf="resultSubgroup.getResultUsers().length > 0"
      [decisions]="resultSubgroup.event.getDecisions()"
    ></app-result-user-bar-chart>
  </mat-card-content>
</mat-card>
