<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around" fxLayoutGap.lt-md="5%">
  <mat-card class="mat-elevation-z3" fxFlex="45%" fxFlexAlign="stretch">
    <mat-card-title>
      <mat-icon>account_circle</mat-icon>
      {{ 'SETTINGS_PERSONAL_DATA' | translate }}
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="2%">
      <h4>{{ 'SETTINGS_PERSONAL_DATA_DESCRIPTION' | translate }}</h4>

      <button mat-stroked-button (click)="openPersonalDataModal()">{{ 'SETTINGS_PERSONAL_DATA_PERSONAL_DATA_CHANGE' | translate }}</button>

      <button mat-stroked-button (click)="openPhoneNumberModal()">{{ 'SETTINGS_PERSONAL_DATA_PERSONAL_NUMBER_CHANGE' | translate }}</button>

      <button mat-stroked-button (click)="openEmailAddressModal()">
        {{ 'SETTINGS_PERSONAL_DATA_PERSONAL_EMAIL_ADDRESSES_CHANGE' | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z3" fxFlex="45%">
    <mat-card-title>
      <mat-icon>security</mat-icon>
      {{ 'SETTINGS_SECURITY' | translate }}
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="2%">
      <h4>{{ 'SETTINGS_SECURITY_DESCRIPTION' | translate }}</h4>

      <button mat-stroked-button (click)="openPasswordModal()">{{ 'SETTINGS_SECURITY_CHANGE_PASSWORD' | translate }}</button>
      <button mat-stroked-button (click)="openCalendarTokenModal()">{{ 'SETTINGS_SECURITY_CALENDAR' | translate }}</button>
      <button mat-stroked-button (click)="onSessionManagementModal()">{{ 'SETTINGS_SECURITY_SESSIONS' | translate }}</button>
      <button mat-stroked-button (click)="onPrivacySettingsModal()">{{ 'SETTINGS_SECURITY_SETTINGS' | translate }}</button>
    </mat-card-content>
  </mat-card>
</div>
