#footerContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #607d8b;
  color: white;
}

#footerBarContainer {
  background-color: #455a64;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: white;
}

li a {
  color: #eeeeee;
}

li a:hover {
  color: #bdbdbd;
  cursor: pointer;
}
