<div *ngIf="events.length == 0 && bookings.length == 0 && birthdays.length == 0" fxLayout="column" fxLayoutAlign="center">
  <div fxFlex style="text-align: center; margin-top: 20%">
    <h2>Hiii!!</h2>
  </div>
</div>

<div fxShow [fxHide.gt-sm]="true" *ngIf="events.length != 0 || bookings.length != 0 || birthdays.length != 0">
  <mat-card class="mat-elevation-z4">
    <mat-list>
      <div mat-subheader *ngIf="events.length != 0" class="sub-header" style="padding-top: 1px;">
        <span [matBadge]="openEventsCount.toString()" matBadgeOverlap="false">{{ 'STARTPAGE_EVENTS' | translate }}</span>
      </div>
      <mat-list-item *ngFor="let event of events" class="not-selectable" matRipple matRippleRadius="100" (click)="onEventItemClick(event)">
        <div mat-list-icon class="circle" [style.background-color]="event.decisionColor" *ngIf="event.alreadyVotedFor"></div>
        <mat-icon mat-list-icon *ngIf="!event.alreadyVotedFor">live_help</mat-icon>
        <div mat-line>
          <span *ngIf="event.alreadyVotedFor">{{ event.name }}</span
          ><b *ngIf="!event.alreadyVotedFor">{{ event.name }}</b>
        </div>
        <div mat-line *ngIf="event.startDate.getDay() === event.endDate.getDay()">
          {{ event.startDate | date: 'EE, dd.MM HH:mm' }} - {{ event.endDate | date: 'HH:mm' }}
          <span class="until-left">({{ event.getUntil() }})</span>
        </div>
        <div mat-line *ngIf="event.startDate.getDay() !== event.endDate.getDay()">
          {{ event.startDate | date: 'EE, dd.MM HH:mm' }} - {{ event.endDate | date: 'dd.MM HH:mm' }}
          <span class="until-left">({{ event.getUntil() }})</span>
        </div>
        <div mat-line *ngIf="event.description?.length > 0">
          {{ event.descriptionPreview }}
        </div>
        <button mat-flat-button (click)="onEventInfo(event); $event.stopPropagation()" color="accent">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader *ngIf="bookings.length != 0" class="sub-header">{{ 'STARTPAGE_BOOKINGS' | translate }}</div>
      <mat-list-item *ngFor="let booking of bookings">
        <div mat-line>
          <b>{{ booking.name }}</b>
        </div>
        <div mat-line>
          {{ booking.date | date: 'EE, dd.MM' }} 21:00
          <span class="until-left">({{ booking.getUntil() }})</span>
        </div>
        <div mat-line>{{ 'STARTPAGE_BOOKED_TICKETS' | translate }}: {{ booking.bookedTickets }}</div>
        <div mat-line *ngIf="booking.workerName || booking.emergencyWorkerName">
          {{ 'STARTPAGE_CINEMA_SERVICE' | translate }}: <span *ngIf="booking.workerName">{{ booking.workerName }}</span
          ><span *ngIf="booking.workerName && booking.emergencyWorkerName">,</span>
          <span *ngIf="booking.emergencyWorkerName"> {{ booking.emergencyWorkerName }}</span>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader *ngIf="birthdays.length != 0" class="sub-header">
        {{ 'STARTPAGE_BIRTHDAY' | translate }}
        <button
          mat-icon-button
          matTooltip="{{ 'STARTPAGE_BIRTHDAY_INFO' | translate }}"
          matTooltipPosition="right"
          routerLink="settings/privacySettings"
          aria-label="Button that brings you to a page where you can deactivate your account for showing up when you have birhtday."
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>
      <mat-list-item *ngFor="let birthday of birthdays">
        <div mat-line>
          <b>{{ birthday.name }}</b>
        </div>
        <div mat-line>{{ birthday.date | date: 'EE, dd.MM.yyyy' }} ({{ birthday.age }})</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

<div fxShow [fxHide.xs]="true">
  <div fxLayout="row">
    <div *ngIf="events.length != 0" fxFlex>
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <mat-card-title style="padding-top: 5px;">
            <span [matBadge]="openEventsCount.toString()" matBadgeOverlap="false">{{ 'STARTPAGE_EVENTS' | translate }}</span>
          </mat-card-title>
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>{{ 'EVENTS_ADMINISTRATION_TABLE_NAME' | translate }}</th>
                  <th>{{ 'EVENTS_ADMINISTRATION_TABLE_START_DATE' | translate }}</th>
                  <th>{{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_INFO' | translate }}</th>
                  <th>{{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_DECIDE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events">
                  <td>
                    <div class="circle" [style.background-color]="event.decisionColor" *ngIf="event.alreadyVotedFor"></div>
                  </td>
                  <td>{{ event.name }}</td>
                  <td>{{ event.startDate | date: 'EE, dd.MM.yyyy HH:mm' }}</td>
                  <td>
                    <button (click)="onEventInfo(event)" mat-button>
                      <mat-icon>info</mat-icon>
                      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_INFO' | translate }}
                    </button>
                  </td>
                  <td *ngIf="!event.alreadyVotedFor">
                    <button (click)="onEventVote(event)" color="primary" mat-flat-button>
                      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_DECIDE' | translate }}
                    </button>
                  </td>
                  <td *ngIf="event.alreadyVotedFor">
                    <button #cancelVotingButton (click)="cancelEventVoting(event, cancelVotingButton)" color="accent" mat-flat-button>
                      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_CANCEL_VOTING' | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div *ngIf="birthdays.length != 0" fxFlex.md="40%" fxFlex.lg="35%">
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <mat-card-title fxLayout="row" fxLayoutAlign="end">
            <div fxFlex.md="70%" fxFlex.lg="80%" fxFlexAlign="center">{{ 'STARTPAGE_BIRTHDAY' | translate }}</div>
            <div fxFlex.md="30%" fxFlex.lg="20%">
              <button
                mat-icon-button
                matTooltip="{{ 'STARTPAGE_BIRTHDAY_INFO' | translate }}"
                matTooltipPosition="right"
                routerLink="settings/privacySettings"
                aria-label="Button that brings you to a page where you can deactivate your account for showing up when you have birhtday."
              >
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>{{ 'STARTPAGE_BIRTHDAY_NAME' | translate }}</th>
                  <th>{{ 'STARTPAGE_BIRTHDAY_DATE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let birthday of birthdays">
                  <td>{{ birthday.name }}</td>
                  <td>{{ birthday.date | date: 'EE, dd.MM.yyyy' }} ({{ birthday.age }})</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="bookings.length != 0" fxFlex.md="60%" fxFlex.lg="75%">
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <mat-card-title>{{ 'STARTPAGE_BOOKINGS' | translate }}</mat-card-title>

          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>{{ 'STARTPAGE_MOVIE_NAME' | translate }}</th>
                  <th>{{ 'STARTPAGE_MOVIE_DATE' | translate }}</th>
                  <th>{{ 'STARTPAGE_BOOKED_TICKETS' | translate }}</th>
                  <th>{{ 'STARTPAGE_CINEMA_SERVICE' | translate }}</th>
                  <th>{{ 'STARTPAGE_EMERGENCY_CINEMA_SERVICE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr app-table-bookings-row *ngFor="let booking of bookings" [booking]="booking"></tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
