table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

.table-responsive {
  overflow-x: auto;
}

.sub-header {
  margin-bottom: 0;
}

.until-left {
  color: gray;
}

.circle {
  display: block;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 0;
}
