<h1 mat-dialog-title>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_TITLE' | translate }}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="create(form)">
    <div class="row">
      <div class="col-12">
        <app-do-not-forget-to-save></app-do-not-forget-to-save>
      </div>
    </div>

    <div class="row">
      <!-- Title -->
      <mat-form-field class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
        <input
          #titleModel="ngModel"
          id="title"
          matInput
          maxlength="190"
          name="title"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_TITLE' | translate }}"
          type="text"
        />
        <mat-error *ngIf="titleModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_TITLE_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Username -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <mat-form-field class="">
          <input
            #usernameModel="ngModel"
            (ngModelChange)="onUsernameChange(usernameModel)"
            id="username"
            matInput
            maxlength="190"
            minlength="1"
            name="username"
            ngModel
            placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME' | translate }}"
            required
            type="text"
          />
          <mat-error *ngIf="usernameModel.invalid && !usernameModel.errors?.alreadyTaken">
            {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME_INCORRECT' | translate }}
          </mat-error>
          <mat-error *ngIf="usernameModel.errors?.alreadyTaken">
            {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_USERNAME_ALREADY_TAKEN' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Firstname -->
      <mat-form-field class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <input
          #firstnameModel="ngModel"
          id="firstname"
          matInput
          maxlength="190"
          minlength="1"
          name="firstname"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_FIRSTNAME' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="firstnameModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_FIRSTNAME_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Surname -->
      <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
        <input
          #surnameModel="ngModel"
          id="surname"
          matInput
          maxlength="190"
          minlength="1"
          name="surname"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_SURNAME' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="surnameModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_SURNAME_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Birthday -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input
          [(ngModel)]="birthday"
          [matDatepicker]="picker_birthday"
          id="datepicker-birthday"
          matInput
          required
          name="datepicker-birthday"
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_BIRTHDAY' | translate }}"
        />
        <mat-datepicker-toggle [for]="picker_birthday" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_birthday></mat-datepicker>
      </mat-form-field>

      <!-- Join date -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input
          [(ngModel)]="join_date"
          [matDatepicker]="picker_joindate"
          id="datepicker-join_date"
          matInput
          required
          name="datepicker-join_date"
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_JOIN_DATE' | translate }}"
        />
        <mat-datepicker-toggle [for]="picker_joindate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker_joindate></mat-datepicker>
      </mat-form-field>

      <!-- Streetname -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input
          #streetnameModel="ngModel"
          id="streetname"
          matInput
          maxlength="190"
          minlength="1"
          name="streetname"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNAME' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="streetnameModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNAME_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Streetnumber -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <input
          #streetnumberModel="ngModel"
          id="streetnumber"
          matInput
          maxlength="190"
          minlength="1"
          name="streetnumber"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNUMBER' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="streetnumberModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_STREETNUMBER_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Zipcode -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <input
          #zipcodeModel="ngModel"
          id="zipcode"
          matInput
          max="9999"
          min="1000"
          name="zipcode"
          ngModel
          number
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ZIPCODE' | translate }}"
          type="number"
        />
        <mat-error *ngIf="zipcodeModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ZIPCODE_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Location -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input
          #locationModel="ngModel"
          id="location"
          matInput
          maxlength="190"
          minlength="1"
          name="location"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_LOCATION' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="locationModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_LOCATION_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Activity -->
      <mat-form-field class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <input
          #activityModel="ngModel"
          id="activity"
          matInput
          maxlength="190"
          minlength="1"
          name="activity"
          ngModel
          placeholder="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVITY' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="activityModel.invalid">
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVITY_INCORRECT' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <app-divider></app-divider>

    <!-- Email addresses -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_LIST_EMAIL_ADDRESSES' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-email-addresses-list
        (emailAddressesChanged)="onEmailAddressChanged($event)"
        [emailAddresses]="emailAddresses"
      ></app-email-addresses-list>
    </mat-expansion-panel>

    <app-divider></app-divider>

    <!-- Phone number -->
    <app-phone-numbers-list (phoneNumbersChanged)="onPhoneNumbersChanged($event)" [phoneNumbers]="phoneNumbers"></app-phone-numbers-list>

    <app-divider></app-divider>

    <!-- Group management -->
    <app-group-and-subgroup-select
      (freeChanged)="onFreeChange($event)"
      (joinedChanged)="onJoinedChange($event)"
      [free]="free"
      [joined]="joined"
    ></app-group-and-subgroup-select>

    <app-divider></app-divider>

    <!-- Performance badges -->
    <app-performance-badges-list
      (performanceBadgesChanged)="onUserPerformanceBadgesChange($event)"
      [userPerformanceBadges]="userPerformanceBadges"
    >
    </app-performance-badges-list>

    <app-divider></app-divider>

    <!-- Permissions -->
    <mat-expansion-panel *ngIf="hasPermissionToChangePermission">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_PERMISSIONS' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-permissions-list (permissionsChanged)="onPermissionsChange($event)" [permissions]="permissions"></app-permissions-list>
    </mat-expansion-panel>

    <app-divider *ngIf="hasPermissionToChangePermission"></app-divider>

    <!-- Activated -->
    <div class="row">
      <div class="col-12">
        <mat-checkbox
          color="accent"
          id="activated"
          matTooltip="{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVATED_DESCRIPTION' | translate }}"
          matTooltipPosition="right"
          name="activated"
          ngModel
        >
          {{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_FORM_ACTIVATED' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button" mat-button>{{ 'PUT' | translate }}</button>
</div>

<ng-template #successfullyCreatedUser>
  <h2>{{ 'MANAGEMENT_USERS_CREATE_USER_MODAL_SUCCESSFULLY_CREATED_USER' | translate }}</h2>
</ng-template>
