<h1 mat-dialog-title>{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TITLE' | translate}}{{groupName}}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="col-12">
        <input (keyup)="applyFilter($event.target.value)" matInput
               placeholder="{{'MANAGEMENT_USERS_SEARCH' | translate}}">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table [dataSource]="dataSource" class="table-responsive" mat-table matSort>
        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header> {{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TABLE_HEADER_ROLE' | translate}} </th>
          <td *matCellDef="let user" mat-cell> {{user.role}} </td>
        </ng-container>

        <!-- Firstname Column -->
        <ng-container matColumnDef="firstname">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header> {{'MANAGEMENT_USERS_FIRSTNAME' | translate}} </th>
          <td *matCellDef="let user" mat-cell> {{user.firstname}} </td>
        </ng-container>

        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header> {{'MANAGEMENT_USERS_SURNAME' | translate}} </th>
          <td *matCellDef="let user" mat-cell> {{user.surname}} </td>
        </ng-container>

        <!-- Action movie Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell> {{'MANAGEMENT_USERS_ACTIONS' | translate}} </th>
          <td *matCellDef="let user" mat-cell>
            <button (click)="onEditRole(user)" color="accent" mat-icon-button
                    matTooltip="{{'MANAGEMENT_GROUPS_INFO_GROUP_MDOAL_TABLE_ACTION_EDIT' | translate}}">
              <mat-icon>create</mat-icon>
            </button>

            <button (click)="onRemoveUserFromGroup(user.id)" color="warn" mat-icon-button
                    matTooltip="{{'MANAGEMENT_GROUPS_INFO_GROUP_MODAL_TABLE_ACTION_REMOVE' | translate}}">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="group == null">
    <div class="row">
      <div class="col-12">
        <mat-spinner style="margin: auto"></mat-spinner>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
</div>
