<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
        <h1>{{ 'NAV_EVENTS_ADMINISTRATION' | translate }}</h1>
      </div>
      <div class="col-2 col-sm-2 col-md-4 col-lg-4 col-xl-4" style="text-align: end">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="refreshEvents()" mat-menu-item>
            <mat-icon>refresh</mat-icon>
            <span>{{ 'EVENTS_ADMINISTRATION_MENU_REFRESH' | translate }}</span>
          </button>
          <div mat-menu-item>
            <mat-slide-toggle (change)="onShowAllEventsChange($event)" [(ngModel)]="showAllEvents" color="primary">
              {{ 'EVENTS_ADMINISTRATION_MENU_SHOW_ALL_EVENTS' | translate }}
            </mat-slide-toggle>
          </div>
          <button (click)="onShowStandardDecisionManagementModal()" mat-menu-item>
            <mat-icon>question_answer</mat-icon>
            <span>{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT' | translate }}</span>
          </button>
          <button (click)="onShowStandardLocationManagementModal()" mat-menu-item>
            <mat-icon>location_searching</mat-icon>
            <span>{{ 'EVENTS_STANDARD_LOCATIONS_MANAGEMENT' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-2 col-sm-4 col-lg-1">
        <button (click)="onCreate()" color="accent" mat-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-10 col-sm-8 col-lg-11">
        <mat-form-field class="col-12">
          <input (keyup)="applyFilter($event.target.value)" matInput placeholder="{{ 'SEARCH' | translate }}" />
        </mat-form-field>
      </div>
    </div>

    <table [dataSource]="dataSource" class="table-responsive" mat-table matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_TABLE_NAME' | translate }}</th>
        <td *matCellDef="let event" mat-cell>{{ event.name }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="startDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_TABLE_START_DATE' | translate }}</th>
        <td *matCellDef="let event" mat-cell>{{ event.startDate | date: 'EE, dd.MM.yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_TABLE_END_DATE' | translate }}</th>
        <td *matCellDef="let event" mat-cell>{{ event.endDate | date: 'EE, dd.MM.yyyy HH:mm' }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EVENTS_ADMINISTRATION_TABLE_DESCRIPTION' | translate }}</th>
        <td *matCellDef="let event" mat-cell>{{ event.descriptionPreview }}</td>
      </ng-container>

      <!-- Action movie Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>{{ 'ACTION' | translate }}</th>
        <td (click)="$event.stopPropagation()" *matCellDef="let event" mat-cell>
          <button (click)="onInfo(event)" mat-icon-button matTooltip="{{ 'EVENTS_ADMINISTRATION_TABLE_ACTION_TOOLTIP_INFO' | translate }}">
            <mat-icon>info</mat-icon>
          </button>

          <button
            (click)="onUserManagement(event)"
            mat-icon-button
            matTooltip="{{ 'EVENTS_ADMINISTRATION_TABLE_ACTION_TOOLTIP_USER_MANAGEMENT' | translate }}"
          >
            <mat-icon>group</mat-icon>
          </button>

          <button
            (click)="onEdit(event)"
            color="accent"
            mat-icon-button
            matTooltip="{{ 'EVENTS_ADMINISTRATION_TABLE_ACTION_TOOLTIP_EDIT' | translate }}"
          >
            <mat-icon>create</mat-icon>
          </button>

          <button
            (click)="onDelete(event.id)"
            color="warn"
            mat-icon-button
            matTooltip="{{ 'EVENTS_ADMINISTRATION_TABLE_ACTION_TOOLTIP_DELETE' | translate }}"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="onInfo(row)" *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>

    <mat-progress-bar *ngIf="!eventsLoaded" mode="indeterminate"></mat-progress-bar>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
