<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs class="tabs">
      <mat-tab label="Einstellungen" *ngIf="this.myUserService.hasPermission(SETTINGS_ADMINISTRATION)">
        <div fxLayout="column" fxLayoutGap="2%">
          <h1>{{ 'NAV_MANAGEMENT_DATEPOLL' | translate }}</h1>
          <h2>{{ 'MANAGEMENT_DATEPOLL_FEATURE_SETTINGS' | translate }}</h2>
          <h4>{{ 'MANAGEMENT_DATEPOLL_FEATURE_SETTINGS_SUBTITLE' | translate }}</h4>

          <mat-slide-toggle (change)="cinemaServiceChange($event)" [(ngModel)]="serverInfo.cinema_enabled" color="primary">
            {{ 'MANAGEMENT_DATEPOLL_CINEMA_SERVICE' | translate }}
          </mat-slide-toggle>

          <mat-slide-toggle (change)="eventsServiceChange($event)" [(ngModel)]="serverInfo.events_enabled" color="primary">
            {{ 'MANAGEMENT_DATEPOLL_EVENTS_SERVICE' | translate }}
          </mat-slide-toggle>

          <form #changeAppUrlForm="ngForm" (ngSubmit)="changeAppUrl(changeAppUrlForm)" fxLayout="row wrap" fxLayoutGap="2%">
            <mat-form-field fxFlex="60%" fxFlex.xs="60%">
              <input
                #appUrlModel="ngModel"
                [(ngModel)]="serverInfo.application_url"
                id="appUrl"
                matInput
                maxlength="128"
                minlength="1"
                name="appUrl"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_APP_URL' | translate }}"
                required
                type="text"
              />
              <mat-error *ngIf="appUrlModel.invalid">
                {{ 'MANAGEMENT_DATEPOLL_APP_URL_NOT_VALID' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex.xs="35%" fxFlex="10%">
              <button mat-raised-button color="primary" type="button" (click)="autoDetectAppUrl()" style="width: 100%">
                Autodetect
              </button>
            </div>

            <div fxFlex.xs="100%" fxFlex="10%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="appUrlSaving"
                [disabled]="!changeAppUrlForm.valid || appUrlSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <h2>Vereins Einstellungen</h2>

          <form
            #changeCommunityNameForm="ngForm"
            (ngSubmit)="changeCommunityName(changeCommunityNameForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <input
                #communityNameModel="ngModel"
                [(ngModel)]="serverInfo.community_name"
                id="communityName"
                matInput
                maxlength="50"
                minlength="1"
                name="communityName"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_COMMUNITY_NAME' | translate }}"
                required
                type="text"
              />
              <mat-error *ngIf="communityNameModel.invalid">
                {{ 'MANAGEMENT_DATEPOLL_COMMUNITY_NAME_NOT_VALID' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="communityNameSaving"
                [disabled]="!changeCommunityNameForm.valid || communityNameSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <form
            #changeCommunityUrlForm="ngForm"
            (ngSubmit)="changeCommunityUrl(changeCommunityUrlForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <input
                #communityUrlModel="ngModel"
                [(ngModel)]="serverInfo.community_url"
                id="communityUrl"
                matInput
                maxlength="128"
                minlength="1"
                name="communityUrl"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_COMMUNITY_URL' | translate }}"
                required
                type="text"
                url
              />
              <mat-error *ngIf="communityUrlModel.invalid">
                {{ 'MANAGEMENT_DATEPOLL_COMMUNITY_URL_NOT_VALID' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="communityUrlSaving"
                [disabled]="!changeCommunityUrlForm.valid || communityUrlSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <form
            #changeCommunityDescriptionForm="ngForm"
            (ngSubmit)="changeCommunityDescription(changeCommunityDescriptionForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <textarea
                [(ngModel)]="serverInfo.community_description"
                id="communityDescription"
                matInput
                minlength="1"
                name="communityDescription"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_COMMUNITY_DESCRIPTION' | translate }}"
                required
              ></textarea>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="communityDescriptionSaving"
                [disabled]="!changeCommunityDescriptionForm.valid || communityDescriptionSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <form
            #changeImprintForm="ngForm"
            (ngSubmit)="changeImprint(changeImprintForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <textarea
                [(ngModel)]="serverInfo.community_imprint"
                id="imprint"
                matInput
                minlength="1"
                name="imprint"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_IMPRINT' | translate }}"
                required
              ></textarea>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="imprintSaving"
                [disabled]="!changeImprintForm.valid || imprintSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <form
            #changePrivacyPolicyForm="ngForm"
            (ngSubmit)="changePrivacyPolicy(changePrivacyPolicyForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <textarea
                [(ngModel)]="serverInfo.community_privacy_policy"
                id="privacyPolicy"
                matInput
                minlength="1"
                name="privacyPolicy"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_PRIVACY_POLICY' | translate }}"
                required
              ></textarea>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="privacyPolicySaving"
                [disabled]="!changePrivacyPolicyForm.valid || privacyPolicySaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <h2>OpenWeatherMap Einstellungen</h2>

          <form
            #changeOpenWeatherMapKeyForm="ngForm"
            (ngSubmit)="changeOpenWeatherMapKey(changeOpenWeatherMapKeyForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <input
                #openWeatherMapKeyModel="ngModel"
                [(ngModel)]="openWeatherMapKey"
                id="openWeatherMapKey"
                matInput
                maxlength="50"
                name="openWeatherMapKey"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_OPENWEATHERMAP_KEY' | translate }}"
                type="text"
              />
              <mat-error *ngIf="openWeatherMapKeyModel.invalid">
                {{ 'MANAGEMENT_DATEPOLL_OPENWEATHERMAP_KEY_INVALID' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="openWeatherMapKeySaving"
                [disabled]="!changeOpenWeatherMapKeyForm.valid || openWeatherMapKeySaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>

          <form
            #changeOpenWeatherMapCinemaCityIdForm="ngForm"
            (ngSubmit)="changeOpenWeatherMapCinemaCityId(changeOpenWeatherMapCinemaCityIdForm)"
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.xs="column"
          >
            <mat-form-field fxFlex="60%">
              <input
                #openWeatherMapCinemaCityIdModel="ngModel"
                [(ngModel)]="openWeatherMapCinemaCityId"
                matInput
                maxlength="50"
                name="openWeatherMapCinemaCityId"
                id="openWeatherMapCinemaCityId"
                ngModel
                placeholder="{{ 'MANAGEMENT_DATEPOLL_OPENWEATHERMAP_CINEMA_CITY_ID' | translate }}"
                type="text"
              />
              <mat-error *ngIf="openWeatherMapCinemaCityIdModel.invalid">
                {{ 'MANAGEMENT_DATEPOLL_OPENWEATHERMAP_CINEMA_CITY_ID_INVALID' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex.xs="100%">
              <button
                style="width: 100%"
                color="accent"
                mat-flat-button
                [class.spinner]="openWeatherMapCinemaCityIdSaving"
                [disabled]="!changeOpenWeatherMapCinemaCityIdForm.valid || openWeatherMapCinemaCityIdSaving"
                type="submit"
              >
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'MANAGEMENT_DATEPOLL_LOGS' | translate }}" *ngIf="this.myUserService.hasPermission(SYSTEM_LOGS_ADMINISTRATION)">
        <app-logs></app-logs>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
