<h1 mat-dialog-title>{{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_EDIT' | translate }} {{ name }}</h1>
<div mat-dialog-content>
  <app-do-not-forget-to-save></app-do-not-forget-to-save>

  <form #form="ngForm" (ngSubmit)="save()">
    <div class="row">
      <mat-form-field class="col-12 col-sm-12 col-md-10 col-lg-10">
        <input
          #nameModel="ngModel"
          [(ngModel)]="name"
          id="name"
          matInput
          maxlength="190"
          minlength="1"
          name="name"
          ngModel
          placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_NAME' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="nameModel.invalid">
          {{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_NAME_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-12 col-md-2 col-lg-2">
        <input
          [(ngModel)]="bookedTickets"
          id="bookedTickets"
          matInput
          name="bookedTickets"
          ngModel
          number
          placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_BOOKED_TICKETS' | translate }}"
          required
          type="number"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12 ">
        <input
          [(ngModel)]="date"
          [matDatepicker]="picker"
          id="datepicker"
          matInput
          name="datepicker"
          required
          placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_DATE' | translate }}"
        />
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12">
        <input
          #trailerLinkModel="ngModel"
          [(ngModel)]="trailerLink"
          id="trailerLink"
          matInput
          maxlength="190"
          minlength="6"
          name="trailerLink"
          ngModel
          placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_TRAILER' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="trailerLinkModel.invalid">
          {{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_TRAILER_INVALID' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12">
        <input
          #imageLinkModel="ngModel"
          [(ngModel)]="imageLink"
          id="imageLink"
          matInput
          maxlength="190"
          minlength="6"
          name="imageLink"
          ngModel
          placeholder="{{ 'CINEMA_TICKETS_ADMINISTRATION_POSTER' | translate }}"
          required
          type="text"
        />
        <mat-error *ngIf="imageLinkModel.invalid">
          {{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_POSTER_INVALID' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <h2>{{ 'CINEMA_TICKETS_ADMINISTRATION_MOVIE_EDIT_MODAL_POSTER_PREVIEW' | translate }}</h2>
    <img alt="Poster of the movie" class="col-12 col-sm-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4" src="{{ imageLink }}" />
  </form>

  <app-divider></app-divider>

  <app-movie-bookings-table [bookedTickets]="bookedTickets" [bookings]="bookings" *ngIf="!loading"></app-movie-bookings-table>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button" mat-button mat-dialog-close>
    {{ 'SAVE' | translate }}
  </button>
</div>
