<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col">
        <h1>{{'NAV_CINEMA_ADMINISTRATION' | translate}}</h1>
      </div>
      <div class="col" style="text-align: end">
        <button (click)="refreshMovies()" mat-icon-button
                matTooltip="{{'CINEMA_TICKETS_ADMINISTRATION_REFRESH' | translate}}"
                matTooltipPosition="left">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col">
        <button (click)="onCreate()" color="accent" mat-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="col-5 offset-sm-7 col-sm-3 offset-lg-9 col-lg-2">
        <mat-form-field>
          <mat-select #yearSelect
                      (selectionChange)="yearSelectChange($event.value)" [formControl]="yearCtrl"
                      placeholder="{{'CINEMA_TICKETS_ADMINISTRATION_YEAR_SELECT_PLACEHOLDER' | translate}}">
            <mat-option>
              <ngx-mat-select-search [formControl]="yearFilterCtrl"></ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let year of filteredYears | async" [value]="year">
              {{year.year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col-12">
        <mat-form-field>
          <input (keyup)="applyFilter($event.target.value)" matInput
                 placeholder="{{'CINEMA_TICKETS_ADMINISTRATION_SEARCH' | translate}}">
        </mat-form-field>
      </div>
    </div>

    <table [dataSource]="dataSource" class="table-responsive" mat-table matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'CINEMA_TICKETS_ADMINISTRATION_NAME' | translate}} </th>
        <td *matCellDef="let movie" mat-cell> {{movie.name}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'CINEMA_TICKETS_ADMINISTRATION_DATE' | translate}} </th>
        <td *matCellDef="let movie" mat-cell> {{movie.date | date:'dd.MM.yyyy' }} </td>
      </ng-container>

      <!-- Trailer Column -->
      <ng-container matColumnDef="trailer">
        <th *matHeaderCellDef mat-header-cell> {{'CINEMA_TICKETS_ADMINISTRATION_TRAILER' | translate}} </th>
        <td *matCellDef="let movie" mat-cell>
          <a [matTooltipPosition]="'after'" href="{{movie.trailerLink}}" matTooltip="{{'OPEN' | translate}}"
             rel="noopener" target="_blank">{{'CINEMA_TICLETS_TRAILER_WATCH' | translate}}</a>
        </td>
      </ng-container>

      <!-- Poster Column -->
      <ng-container matColumnDef="poster">
        <th *matHeaderCellDef mat-header-cell> {{'CINEMA_TICKETS_ADMINISTRATION_POSTER' | translate}} </th>
        <td *matCellDef="let movie" mat-cell>
          <a [matTooltipPosition]="'after'" href="{{movie.posterLink}}" matTooltip="{{'OPEN' | translate}}"
             rel="noopener" target="_blank">{{'CINEMA_TICKETS_ADMINISTRATION_POSTER_WATCH' | translate}}</a>
        </td>
      </ng-container>

      <!-- Worker Column -->
      <ng-container matColumnDef="worker">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'CINEMA_TICKETS_ADMINISTRATION_WORKER' | translate}} </th>
        <td *matCellDef="let movie" mat-cell> {{movie.workerName}} </td>
      </ng-container>

      <!-- Emergency Worker Column -->
      <ng-container matColumnDef="emergencyWorker">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'CINEMA_TICKETS_ADMINISTRATION_EMERGENCY_WORKER' | translate}} </th>
        <td *matCellDef="let movie" mat-cell> {{movie.emergencyWorkerName}} </td>
      </ng-container>

      <!-- Booked Tickets Column -->
      <ng-container matColumnDef="bookedTickets">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'CINEMA_TICKETS_ADMINISTRATION_BOOKED_TICKETS' | translate}} </th>
        <td *matCellDef="let movie" mat-cell> {{movie.bookedTickets}} </td>
      </ng-container>

      <!-- Action movie Column -->
      <ng-container matColumnDef="deleteMovie">
        <th *matHeaderCellDef mat-header-cell> {{'CINEMA_TICKETS_ADMINISTRATION_ACTION' | translate}} </th>
        <td (click)="$event.stopPropagation()" *matCellDef="let movie" mat-cell>
          <button (click)="onInfo(movie)" mat-icon-button
                  matTooltip="{{'CINEMA_TICKETS_ADMINISTRATION_INFO_MOVIE_BUTTON_TOOLTIP' | translate}}">
            <mat-icon>info</mat-icon>
          </button>

          <button (click)="onBookings(movie)" mat-icon-button
                  matTooltip="{{'CINEMA_TICKETS_ADMINISTRATION_BOOKINGS_MOVIE_BUTTON_TOOLTIP' | translate}}">
            <mat-icon>group</mat-icon>
          </button>

          <button (click)="onEdit(movie)" color="accent" mat-icon-button
                  matTooltip="{{'CINEMA_TICKETS_ADMINISTRATION_UPDATE_MOVIE_BUTTON_TOOLTIP' | translate}}">
            <mat-icon>create</mat-icon>
          </button>

          <button (click)="deleteMovie(movie.id)" color="warn" mat-icon-button
                  matTooltip="{{'CINEMA_TICKETS_ADMINISTRATION_DELETE_MOVIE_BUTTON_TOOLTIP' | translate}}">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="onInfo(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-progress-bar *ngIf="!moviesLoaded" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>
