<h2>{{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_DELETE_MODAL_TITLE' | translate}}</h2>
<mat-nav-list>
  <a (click)="yes()" mat-list-item>
    <span mat-line>{{'YES' | translate}}</span>
  </a>
  <a (click)="no()" mat-list-item>
    <span mat-line>{{'NO' | translate}}</span>
  </a>
</mat-nav-list>

<ng-template #successfullyDeletedMovie>
  <h2>{{'CINEMA_TICKETS_ADMINISTRATION_MOVIE_DELETE_MODAL_SUCCESSFULLY_DELETED' | translate}}</h2>
</ng-template>
