<div fxLayout="row" style="margin-bottom: 15px; margin-top: 15px;">
  <mat-expansion-panel fxFlex>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE_TITLE' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form #form="ngForm" (ngSubmit)="save(form)" style="margin-bottom: 15px;">
      <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="center">
        <app-event-standard-locations-select
          fxFlex="69%"
          fxFlex.xs="98%"
          (standardLocationChanged)="onStandardLocationChanged($event)"
        ></app-event-standard-locations-select>

        <div fxFlex="29%" fxFlex.xs="98%">
          <button mat-stroked-button type="button" (click)="applyStandardLocation()" style="width: 100%">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_APPLY_STANDARD_LOCATION' | translate }}
          </button>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="2%" style="margin-top: 15px;" fxLayoutAlign="center">
        <mat-form-field fxFlex.xs="98%" fxFlex="24%">
          <input
            [(ngModel)]="createNewEventDateDate"
            [matDatepicker]="picker_date"
            id="datepicker-date"
            matInput
            name="datepicker-date"
            required
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DATE' | translate }}"
          />
          <mat-datepicker-toggle [for]="picker_date" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker_date></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex.xs="48%" fxFlex="10%">
          <input
            #dateHoursModel="ngModel"
            id="hours-date"
            matInput
            max="24"
            min="0"
            name="dateHours"
            ngModel
            required
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS' | translate }}"
            type="number"
          />
          <mat-error *ngIf="dateHoursModel.invalid">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_HOURS_INCORRECT' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="48%" fxFlex="10%">
          <input
            #dateMinutesModel="ngModel"
            id="minutes-date"
            matInput
            max="60"
            min="0"
            name="dateMinutes"
            required
            ngModel
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES' | translate }}"
            type="number"
          />
          <mat-error *ngIf="dateMinutesModel.invalid">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_MINUTES_INCORRECT' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="48%" fxFlex="20%">
          <input
            #xModel="ngModel"
            id="x"
            matInput
            [(ngModel)]="x"
            min="-90"
            max="90"
            name="x"
            ngModel
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_X' | translate }}"
            type="number"
          />
          <mat-error *ngIf="xModel.invalid">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_X_INCORRECT' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="48%" fxFlex="20%">
          <input
            #yModel="ngModel"
            id="y"
            matInput
            [(ngModel)]="y"
            min="-180"
            max="180"
            name="y"
            ngModel
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_Y' | translate }}"
            type="number"
          />
          <mat-error *ngIf="yModel.invalid">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_Y_INCORRECT' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="98%" fxFlex="70%">
          <input
            #locationModel="ngModel"
            id="location"
            matInput
            maxlength="190"
            name="location"
            type="text"
            ngModel
            placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_LOCATION' | translate }}"
            [(ngModel)]="location"
          />
          <mat-error *ngIf="locationModel.invalid">
            {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_LOCATION_INCORRECT' | translate }}
          </mat-error>
        </mat-form-field>

        <div fxFlex.xs="98%" fxFlex="20%">
          <button
            mat-flat-button
            type="button"
            color="accent"
            style="width: 100%"
            (click)="form.ngSubmit.emit()"
            [disabled]="!form.form.valid"
          >
            {{ 'ADD' | translate }}
          </button>
        </div>
      </div>

      <app-maps-component
        [x]="48.645333"
        [y]="15.81711"
        [edible]="true"
        (coordinatesChanged)="onCoordinatesChange($event)"
      ></app-maps-component>
    </form>

    <app-event-dates-list [dates]="dates" [adminView]="true" (datesChanged)="onDatesChange($event)"></app-event-dates-list>
  </mat-expansion-panel>
</div>
