<div class="container-fluid" style="min-height: 90%">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
      <mat-action-list>
        <button mat-list-item mat-ripple routerLink="imprint" routerLinkActive="active">Impressum</button>
        <button mat-list-item mat-ripple routerLink="privacypolicy" routerLinkActive="active">Datenschutzerklärung</button>
        <button mat-list-item mat-ripple routerLink="/about">Go back</button>
      </mat-action-list>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
