<h2 mat-dialog-title>{{'GIVE_US_FEEDBACK' | translate}}</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Feedback</mat-label>
        <textarea [(ngModel)]="feedback" matInput placeholder="{{'FEEDBACK_PLACEHOLDER' | translate}}"
                  style="height: 45vh;"></textarea>
      </mat-form-field>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-12">-->
    <!--<mat-checkbox-->
    <!--color="primary"-->
    <!--matTooltip="{{'SEND_BROWSER_DATA_TOOLTIP' | translate}}"-->
    <!--[(ngModel)]="sendBrowserData">-->
    <!--{{'SEND_BROWSER_DATA' | translate}}-->
    <!--</mat-checkbox>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'CLOSE' | translate}}</button>
  <button (click)="sendFeedback()" [mat-dialog-close]="true" color="primary" mat-button>
    {{'SUBMIT' | translate}}
  </button>
</mat-dialog-actions>
