<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col-12"><h1>{{'404_TITLE' | translate}}</h1></div>
  </div>
  <div class="row">
    <div class="col-12"><h3>{{'404_SUBTITLE' | translate}}</h3></div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-12">
      <button color="primary" mat-raised-button
              onclick="window.history.go(-1); return false;">{{'404_GO_BACK' | translate}}</button>
    </div>
  </div>
  <img alt="Picture of a cat" src="../../assets/404.jpeg" style="width: 100%">
</div>
