<mat-expansion-panel style="margin-bottom: 15px;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_DECISIONS' | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form #addDecisionForm="ngForm" (ngSubmit)="addDecision(addDecisionForm)" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start">
    <div fxFlex="15%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <app-color-picker (colorChange)="changeColor($event)"></app-color-picker>
    </div>

    <mat-form-field fxFlex="40%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <input
        #decisionModel="ngModel"
        id="decision"
        matInput
        maxlength="190"
        minlength="1"
        name="decision"
        ngModel
        placeholder="{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="decisionModel.invalid">
        {{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <div fxFlex="20%" fxFlex.lt-lg="45%" fxFlex.xs="98%" style="text-align: center">
      <mat-slide-toggle (change)="showInCalendarChange($event)" [checked]="showInCalendar">
        {{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_SHOW_IN_CALENDAR' | translate }}
      </mat-slide-toggle>
    </div>

    <div fxFlex="15%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <button [disabled]="!addDecisionForm.valid" color="accent" mat-raised-button style="width: 100%; text-align: center" type="submit">
        {{ 'ADD' | translate }}
        <mat-icon aria-label="Submit button">library_add</mat-icon>
      </button>
    </div>
  </form>

  <app-divider></app-divider>

  <mat-list>
    <mat-list-item *ngFor="let decision of decisions">
      <div matListAvatar [style.background-color]="decision.color"></div>
      <span matLine>{{ decision.decision }}</span>
      <span matLine
        >{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_SHOW_IN_CALENDAR' | translate }} :
        {{ decision.showInCalendar | boolean }}</span
      >
      <button
        (click)="removeDecision(decision)"
        mat-icon-button
        matTooltip="{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_REMOVE_STANDARD_DECISION_BUTTON_TOOLTIP' | translate }}"
        matTooltipPosition="right"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
