<h1 mat-dialog-title>
  <b>{{ 'EVENTS_ADMINISTRATION_INFO_EVENT' | translate }}</b> {{ event.name }} <span style="color: gray;">({{ event.getUntil() }})</span>
</h1>
<div mat-dialog-content>
  <app-event-info [eventId]="event.id"></app-event-info>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
</div>
