<h3>{{ 'SIGNIN_GET_THE_APP' | translate }}</h3>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="stretch" *ngIf="false">
  <a fxFlex="50%" href="https://f-droid.org" target="_blank" rel="noopener" style="text-align: start">
    <img src="./../../../../assets/signGetOnFDroid.png" alt="Get the DatePoll-App on F-Droid.org" style="width: 12vh;" />
  </a>
  <a fxFlex="50%" href="https://f-droid.org" target="_blank" rel="noopener" style="text-align: end">
    <img src="./../../../../assets/signGetOnFDroid.png" alt="Get the DatePoll-App on F-Droid.org" style="width: 12vh;" />
  </a>
</div>

<h3 style="margin-top: 15px;">{{ 'SIGNIN_SCAN_ME' | translate }}</h3>
<div fxLayout="row" fxLayoutAlign="center">
  <qrcode
    *ngIf="appUrl != null"
    [qrdata]="appUrl"
    [margin]="1"
    [width]="256"
    [errorCorrectionLevel]="'M'"
    [elementType]="'img'"
    [allowEmptyString]="true"
    style="margin: 0 auto;"
  ></qrcode>
  <p *ngIf="appUrl == null">{{ 'REQUEST_ERROR' | translate }}</p>
</div>

<button mat-flat-button style="width: 100%; margin-top: 10px;" color="accent" (click)="close()">{{ 'CLOSE' | translate }}</button>
