<div fxLayout="row">
  <h1>{{ 'MANAGEMENT_DATEPOLL_LOGS' | translate }}</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="center">
  <mat-form-field fxFlex="60%" fxFlex.xs="98%">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="{{ 'MANAGEMENT_USERS_SEARCH' | translate }}" />
  </mat-form-field>

  <mat-form-field fxFlex="15%" fxFlex.xs="62%">
    <mat-label>{{ 'MANAGEMENT_DATEPOLL_LOGS_LOG_TYPE' | translate }}</mat-label>
    <mat-select [(value)]="selectedLogType" (selectionChange)="selectedLogTypeChange($event)">
      <mat-option *ngFor="let logType of logTypes" [value]="logType.value">
        {{ logType.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="8%" fxFlex.xs="17%" style="text-align: center">
    <button
      (click)="refreshLogsList()"
      mat-icon-button
      matTooltip="{{ 'MANAGEMENT_DATEPOLL_LOGS_REFRESH' | translate }}"
      matTooltipPosition="above"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div fxFlex="8%" fxFlex.xs="17%" style="text-align: center">
    <button
      (click)="deleteLogList()"
      mat-icon-button
      matTooltip="{{ 'MANAGEMENT_DATEPOLL_LOGS_DELETE' | translate }}"
      matTooltipPosition="below"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="myContainer" *ngIf="!loading" fxLayout="column" fxLayoutAlign="start">
  <div class="myCol" *ngFor="let log of logsCopy">
    {{ log.typeString }} : {{ log.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }} : {{ log.message }}
  </div>
  <div class="myCol" *ngIf="logsCopy.length === 0">
    {{ 'MANAGEMENT_DATEPOLL_LOGS_NO_LOGS' | translate }}
  </div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
