<h1 mat-dialog-title>{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT' | translate }}</h1>
<div mat-dialog-content>
  <form
    #addStandardDecisionForm="ngForm"
    (ngSubmit)="addStandardDecision(addStandardDecisionForm)"
    fxLayout="row wrap"
    fxLayoutGap="2%"
    fxLayoutAlign="start"
  >
    <div fxFlex="15%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <app-color-picker (colorChange)="changeColor($event)"></app-color-picker>
    </div>

    <mat-form-field fxFlex="40%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <input
        #decisionModel="ngModel"
        id="decision"
        matInput
        maxlength="190"
        minlength="1"
        name="decision"
        ngModel
        placeholder="{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="decisionModel.invalid">
        {{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <div fxFlex="20%" fxFlex.lt-lg="45%" fxFlex.xs="98%" style="text-align: center">
      <mat-slide-toggle (change)="showInCalendarChange($event)" [checked]="showInCalendar">
        {{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_SHOW_IN_CALENDAR' | translate }}
      </mat-slide-toggle>
    </div>

    <div fxFlex="15%" fxFlex.lt-lg="45%" fxFlex.xs="98%">
      <button
        [disabled]="!addStandardDecisionForm.valid"
        color="accent"
        mat-raised-button
        style="text-align: center; width: 100%"
        type="submit"
      >
        {{ 'ADD' | translate }}
        <mat-icon aria-label="Submit button">library_add</mat-icon>
      </button>
    </div>
  </form>

  <mat-list>
    <mat-list-item *ngFor="let standardDecision of standardDecisions">
      <div matListAvatar [style.background-color]="standardDecision.color"></div>
      <span matLine>{{ standardDecision.decision }}</span>
      <span matLine
        >{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_ADD_STANDARD_DECISION_SHOW_IN_CALENDAR' | translate }} :
        {{ standardDecision.showInCalendar | boolean }}</span
      >
      <button
        #removeStandardDecisionButton
        (click)="removeStandardDecision(standardDecision.id, removeStandardDecisionButton)"
        mat-icon-button
        matTooltip="{{ 'EVENTS_STANDARD_DECISIONS_MANAGEMENT_REMOVE_STANDARD_DECISION_BUTTON_TOOLTIP' | translate }}"
        matTooltipPosition="right"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-progress-bar *ngIf="loadingStandardDecisions" mode="indeterminate"></mat-progress-bar>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
</div>
