<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col">
        <h1>{{'NAV_MANAGEMENT_USERS' | translate}}</h1>
      </div>
      <div class="col" style="text-align: end">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="refreshUsers()" mat-menu-item>
            <mat-icon>refresh</mat-icon>
            <span>{{'MANAGEMENT_USERS_REFRESH' | translate}}</span>
          </button>
          <button (click)="openExportUsersBottomSheet()" mat-menu-item>
            <mat-icon>cloud_download</mat-icon>
            <span>Export</span>
          </button>
          <button (click)="onActivateAll()" mat-menu-item>
            <mat-icon>contact_mail</mat-icon>
            <span>{{'MANAGEMENT_USERS_ACTIVATE_ALL' | translate}}</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-2 col-sm-4 col-lg-1">
        <button (click)="onCreate()" color="accent" mat-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-10 col-sm-8 col-lg-11">
        <mat-form-field class="col-12">
          <input (keyup)="applyFilter($event.target.value)" matInput
                 placeholder="{{'MANAGEMENT_USERS_SEARCH' | translate}}">
        </mat-form-field>
      </div>
    </div>

    <table [dataSource]="dataSource" class="table-responsive" mat-table matSort>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_TITLE' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.title}} </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_FIRSTNAME' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.firstname}} </td>
      </ng-container>

      <!-- Surname Column -->
      <ng-container matColumnDef="surname">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_SURNAME' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.surname}} </td>
      </ng-container>

      <!-- Emails Column -->
      <ng-container matColumnDef="emails">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_EMAIL_ADDRESSES' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.getEmailAddressesAsString()}} </td>
      </ng-container>

      <!-- Birthday Column -->
      <ng-container matColumnDef="birthday">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_BIRTHDAY' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.birthday | date:'dd.MM.yyyy'}} </td>
      </ng-container>

      <!-- Join date Column -->
      <ng-container matColumnDef="join_date">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_JOIN_DATE' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.join_date | date:'dd.MM.yyyy'}} </td>
      </ng-container>

      <!-- Streetname Column -->
      <ng-container matColumnDef="streetname">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_STREETNAME' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.streetname}} </td>
      </ng-container>

      <!-- Streetnumber Column -->
      <ng-container matColumnDef="streetnumber">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_STREETNUMBER' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.streetnumber}} </td>
      </ng-container>

      <!-- Zipcode Column -->
      <ng-container matColumnDef="zipcode">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_ZIPCODE' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.zipcode}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_LOCATION' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.location}} </td>
      </ng-container>

      <!-- phone numbers Column -->
      <ng-container matColumnDef="phoneNumbers">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_PHONENUMBERS' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.getPhoneNumbersAsString()}} </td>
      </ng-container>

      <!-- phone numbers Column -->
      <ng-container matColumnDef="activity">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_ACTIVITY' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.activity}} </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header> {{'MANAGEMENT_USERS_USERNAME' | translate}} </th>
        <td *matCellDef="let user" mat-cell> {{user.username}} </td>
      </ng-container>

      <!-- Action movie Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> {{'MANAGEMENT_USERS_ACTIONS' | translate}} </th>
        <td (click)="$event.stopPropagation()" *matCellDef="let user" mat-cell>
          <button (click)="onEdit(user)" color="accent" mat-icon-button
                  matTooltip="{{'MANAGEMENT_USERS_ACTIONS_EDIT_TOOLTIP' | translate}}">
            <mat-icon>create</mat-icon>
          </button>

          <button (click)="onDelete(user.id)" color="warn" mat-icon-button
                  matTooltip="{{'MANAGEMENT_USERS_ACTIONS_DELETE_TOOLTIP' | translate}}">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="onEdit(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-progress-bar *ngIf="!usersLoaded" mode="indeterminate"></mat-progress-bar>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>

<ng-template #successfullyActivatedAllUsers>
  <h2>{{'MANAGEMENT_USERS_ACTIVATE_ALL_FINISHED' | translate}}</h2>
</ng-template>
