<div fxLayout="row">
  <div class="barContainer">
    <div
      class="barElement"
      *ngFor="let element of getResultBarElements()"
      [ngStyle]="{width: element.percentWidth + '%', 'background-color': element.color}"
    >
      <span class="barText" *ngIf="element.count > 0">{{ element.count }}</span>
    </div>
  </div>
</div>
