<!-- Description -->
<div fxLayout="row" *ngIf="description?.length > 0">
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate }}</mat-label>
    <textarea cdkTextareaAutosize [(ngModel)]="description" matInput readonly></textarea>
  </mat-form-field>
</div>

<mat-progress-bar *ngIf="sendingRequest" mode="indeterminate" style="margin-top: 15px;"></mat-progress-bar>

<div fxLayout="column" fxLayoutGap="2%" fxLayoutGap.xs="5%" *ngIf="!sendingRequest">
  <app-event-dates-list fxFlex="100%" [dates]="dates"></app-event-dates-list>

  <!-- Complete chart for all votes -->
  <app-result-user-bar-chart
    fxFlex="100%"
    [resultUsers]="event.getResultUsers()"
    *ngIf="event != null"
    [decisions]="event.getDecisions()"
  ></app-result-user-bar-chart>

  <mat-expansion-panel *ngIf="!event?.anonymous" fxFlex="100%">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'EVENTS_ADMINISTRATION_INFO_EVENT_COMPLETE_USERS_TABLE' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div
      fxLayout="row"
      fxLayoutAlign="end"
      *ngIf="this.myUserService.hasPermission(ROOT_PERMISSION) || this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)"
    >
      <mat-slide-toggle (change)="changeAdminMode($event)" labelPosition="before">
        {{ 'EVENTS_ADMINISTRATION_INFO_EVENT_SHOW_ADMINISTRATION_MODE' | translate }}
      </mat-slide-toggle>
    </div>

    <app-result-user-table
      [resultUsers]="event.getResultUsers()"
      [decisions]="event.getDecisions()"
      *ngIf="
        event != null &&
        (!showAdminModeInResultUserTable ||
          (!this.myUserService.hasPermission(ROOT_PERMISSION) && !this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION)))
      "
    >
    </app-result-user-table>

    <app-event-user-management
      *ngIf="
        event != null &&
        showAdminModeInResultUserTable &&
        (this.myUserService.hasPermission(ROOT_PERMISSION) || this.myUserService.hasPermission(EVENTS_ADMINISTRATION_PERMISSION))
      "
      [resultUsers]="event.getResultUsers()"
      [event]="event"
    ></app-event-user-management>
  </mat-expansion-panel>

  <div fxFlex="100%">
    <app-divider></app-divider>

    <mat-form-field>
      <input
        (ngModelChange)="applyFilter($event)"
        [(ngModel)]="searchValue"
        matInput
        placeholder="{{ 'MANAGEMENT_GROUPS_SEARCH' | translate }}"
      />
      <button (click)="searchValue = ''; applyFilter('')" *ngIf="searchValue" aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <app-group-info-card
      *ngFor="let resultGroup of sortedResultGroups; trackBy: trackByFn"
      [resultGroup]="resultGroup"
      [searchValue]="searchValue"
    ></app-group-info-card>
  </div>
</div>
