<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_TITLE' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #performanceBadgeForm="ngForm" (ngSubmit)="addPerformanceBadge(performanceBadgeForm)"
        class="row justify-content-around">
    <div class="col-12 col-sm-12 col-md-5 col-lg-2">
      <app-instrument-select (instrumentChanged)="onInstrumentChanged($event)"></app-instrument-select>
    </div>

    <div class="col-12 col-sm-12 col-md-5 col-lg-3">
      <app-performance-badge-select
        (performanceBadgeChanged)="onPerformanceBadgeChanged($event)"></app-performance-badge-select>
    </div>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2 datepicker-field">
      <input [(ngModel)]="performanceBadgeDate" [matDatepicker]="picker_performanceBadge"
             id="datepicker-performanceBadge" matInput name="datepicker-performanceBadge"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_DATE' | translate}}">
      <mat-datepicker-toggle [for]="picker_performanceBadge" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker_performanceBadge></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2 datepicker-field-mobile">
      <input [(ngModel)]="performanceBadgeDate" [matDatepicker]="picker_mobile_performanceBadge"
             id="datepicker-performanceBadge-mobile" matInput
             name="datepicker-performanceBadge-mobile"
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_DATE' | translate}}">
      <mat-datepicker-toggle [for]="picker_mobile_performanceBadge" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker_mobile_performanceBadge touchUi></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-2">
      <input #performanceBadgeGradeModel="ngModel" id="performanceBadge-grade" matInput maxlength="190"
             name="performanceBadgeGrade" ngModel
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_GRADE' | translate}}"
             type="text">
      <mat-error *ngIf="performanceBadgeGradeModel.invalid">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_GRADE_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-12 col-md-5 col-lg-7">
      <input #performanceBadgeNoteModel="ngModel" id="performanceBadge-note" matInput maxlength="190"
             name="performanceBadgeNote" ngModel
             placeholder="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NOTE' | translate}}"
             type="text">
      <mat-error *ngIf="performanceBadgeNoteModel.invalid">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NOTE_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>

    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
      <button [disabled]="!performanceBadgeForm.valid || selectedInstrument == null || selectedPerformanceBadge == null" class="success-button" id="addPerformanceBadge-button" mat-raised-button
              style="width: 100%"
              type="submit">
        {{'ADD' | translate}}
        <mat-icon aria-label="Submit button">playlist_add</mat-icon>
      </button>
    </div>
  </form>

  <div class="row">
    <mat-list class="col-11">
      <mat-list-item *ngFor="let userPerformanceBadge of userPerformanceBadges">
            <span matLine>{{ userPerformanceBadge.performanceBadgeName }}
              {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_WITH' | translate}}
              {{ userPerformanceBadge.instrumentName }}
            </span>
        <span *ngIf="userPerformanceBadge.date != null"
              matLine>Datum: {{userPerformanceBadge.date | date:'dd.MM.yyyy'}}</span>
        <span *ngIf="userPerformanceBadge.grade != null" matLine>Erfolg: {{userPerformanceBadge.grade}}</span>
        <span *ngIf="userPerformanceBadge.note != null" matLine>Anmerkung: {{userPerformanceBadge.note}}</span>
        <button (click)="removePerformanceBadge(userPerformanceBadge.id)" mat-icon-button matTooltip="{{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_REMOVE_TOOLTIP' | translate}}"
                matTooltipPosition="right">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="userPerformanceBadges.length == 0">
        {{'MANAGEMENT_USERS_CREATE_USER_MODAL_PERFORMANCE_BADGES_NO_AVAILABLE' | translate}}
      </mat-list-item>
    </mat-list>
  </div>
</mat-expansion-panel>
