<h1 mat-dialog-title>{{ 'EVENTS_ADMINISTRATION_UPDATE_EVENT' | translate }} {{ name }}</h1>
<div mat-dialog-content style="padding-bottom: 15px;">
  <form #form="ngForm" (ngSubmit)="update(form)" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start">
    <app-do-not-forget-to-save fxFlex="98%"></app-do-not-forget-to-save>

    <!-- Name -->
    <mat-form-field fxFlex="98%">
      <input
        #nameModel="ngModel"
        [(ngModel)]="name"
        id="name"
        matInput
        maxlength="190"
        minlength="1"
        name="name"
        ngModel
        placeholder="{{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="nameModel.invalid">
        {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_NAME_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <app-event-dates-management fxFlex="98%" [dates]="dates" (datesChange)="onEventDatesChange($event)"></app-event-dates-management>

    <!-- Decisions -->
    <app-event-decisions-list
      fxFlex="98%"
      (decisionsChanged)="onDecisionsChange($event)"
      [decisions]="decisions"
    ></app-event-decisions-list>

    <!-- Group management -->
    <app-group-and-subgroup-select
      fxFlex="98%"
      (freeChanged)="onFreeChange($event)"
      (joinedChanged)="onJoinedChange($event)"
      [free]="free"
      [joined]="joined"
      [parentGroupLock]="false"
    >
    </app-group-and-subgroup-select>

    <mat-card matRipple style="background-color: #b2ff59" class="not-selectable" fxFlex="98%">
      <b>{{ 'INFORMATION' | translate }}</b> {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_GROUPS_DESCRIPTION' | translate }}
    </mat-card>

    <!-- Description -->
    <mat-expansion-panel fxFlex="98%">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EVENTS_ADMINISTRATION_CREATE_EVENT_FORM_DESCRIPTION' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline" style="width: 100%">
        <textarea [(ngModel)]="description" matInput name="description" ngModel style="min-height: 15vh;"></textarea>
      </mat-form-field>
    </mat-expansion-panel>
  </form>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close] mat-button>{{ 'CLOSE' | translate }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button" mat-button>{{ 'SAVE' | translate }}</button>
</div>
