<div class="row">
  <div class="col-12">
    <mat-card class="mat-elevation-z3">
      <mat-card-content>
        <div class="row justify-content-between">
          <div class="col-12 col-sm-12 col-md-10"><h1>{{'NAV_MANAGEMENT_PERFORMANCE_BADGES' | translate}}</h1></div>
          <div class="col-12 col-sm-12 col-md-2" style="text-align: end">
            <button (click)="onRefresh()" mat-icon-button
                    matTooltip="{{'MANAGEMENT_PERFORMANCE_BADGES_REFRESH' | translate}}"
                    matTooltipPosition="right">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-card class="mat-elevation-z3">
              <mat-card-title>{{'MANAGEMENT_PERFORMANCE_BADGES_TITLE_PERFORMANCE_BADGES' | translate}}</mat-card-title>
              <mat-card-content *ngIf="performanceBadges != null">
                <form #addPerformanceBadgeForm="ngForm" (ngSubmit)="addPerformanceBadge(addPerformanceBadgeForm)"
                      class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                    <mat-form-field>
                      <input #performanceBadgeNameModel="ngModel" id="performanceBadgeName" matInput maxlength="190"
                             minlength="1" name="performanceBadgeName"
                             ngModel placeholder="{{'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME' | translate}}" required
                             type="text">
                      <mat-error *ngIf="performanceBadgeNameModel.invalid">
                        {{'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_NAME_INCORRECT' | translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <button [disabled]="!addPerformanceBadgeForm.valid" class="success-button" mat-raised-button
                            style="width: 100%; text-align: center" type="submit">
                      {{'ADD' | translate}}
                      <mat-icon aria-label="Submit button">library_add</mat-icon>
                    </button>
                  </div>
                </form>

                <div class="row">
                  <mat-list class="col-12">
                    <mat-list-item *ngFor="let performanceBadge of performanceBadges; trackBy: trackByFn">
                      <span matLine>{{ performanceBadge.name }}</span>
                      <button (click)="updatePerformanceBadge(performanceBadge)" mat-icon-button
                              matTooltip="{{'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_PERFORMANCE_BADGE_TOOLTIP' | translate}}"
                              matTooltipPosition="above">
                        <mat-icon>create</mat-icon>
                      </button>
                      <button (click)="removePerformanceBadge(performanceBadge.id)"
                              mat-icon-button matTooltip="{{'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_PERFORMANCE_BADGE_TOOLTIP' | translate}}"
                              matTooltipPosition="above">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </div>
              </mat-card-content>
              <mat-card-content *ngIf="performanceBadges == null">
                <div class="row align-items-center justify-content-center">
                  <div class="col-2">
                    <mat-spinner></mat-spinner>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-card class="mat-elevation-z3">
              <mat-card-title>{{'MANAGEMENT_PERFORMANCE_BADGES_TITLE_INSTRUMENTS' | translate}}</mat-card-title>
              <mat-card-content *ngIf="instruments != null">
                <form #addInstrumentForm="ngForm" (ngSubmit)="addInstrument(addInstrumentForm)" class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                    <mat-form-field>
                      <input #instrumentNameModel="ngModel" id="instrumentName" matInput maxlength="190"
                             minlength="1" name="instrumentName"
                             ngModel placeholder="{{'MANAGEMENT_PERFORMANCE_BADGES_ADD_INSTRUMENT_NAME' | translate}}" required
                             type="text">
                      <mat-error *ngIf="instrumentNameModel.invalid">
                        {{'MANAGEMENT_PERFORMANCE_BADGES_ADD_INSTRUMENT_NAME_INCORRECT' | translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <button [disabled]="!addInstrumentForm.valid" class="success-button" mat-raised-button
                            style="width: 100%; text-align: center" type="submit">
                      {{'ADD' | translate}}
                      <mat-icon aria-label="Submit button">library_add</mat-icon>
                    </button>
                  </div>
                </form>

                <div class="row">
                  <mat-list class="col-12">
                    <mat-list-item *ngFor="let instrument of instruments; trackBy: trackByFn">
                      <span matLine>{{ instrument.name }}</span>
                      <button (click)="updateInstrument(instrument)" mat-icon-button
                              matTooltip="{{'MANAGEMENT_PERFORMANCE_BADGES_UPDATE_INSTRUMENT_TOOLTIP' | translate}}"
                              matTooltipPosition="above">
                        <mat-icon>create</mat-icon>
                      </button>
                      <button (click)="removeInstrument(instrument.id)" mat-icon-button
                              matTooltip="{{'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_INSTRUMENT_TOOLTIP' | translate}}"
                              matTooltipPosition="above">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </div>
              </mat-card-content>
              <mat-card-content *ngIf="instruments == null">
                <div class="row align-items-center justify-content-center">
                  <div class="col-2">
                    <mat-spinner></mat-spinner>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #successfullyAddedPerformanceBadge>
  <h2>{{'MANAGEMENT_PERFORMANCE_BADGES_ADD_PERFORMANCE_BADGE_SUCCESSFUL' | translate}}</h2>
</ng-template>
<ng-template #successfullyAddedInstrument>
  <h2>{{'MANAGEMENT_PERFORMANCE_BADGES_ADD_INSTRUMENT_SUCCESSFUL' | translate}}</h2>
</ng-template>
