<div id="signin-container" class="dark-theme">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="45%" fxFlex.lt-md="80%" fxFlex.xs="90%" id="signin-card">
      <mat-card-header style="margin-top: 10px;">
        <mat-card-title>DatePoll | {{ 'FORGOT_PASSWORD' | translate }} </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-card *ngIf="unknownUsernameAlert" class="error-mat-card" matRipple>
          <mat-card-content class="last-child">{{ 'FORGOT_PASSWORD_UNKOWN_USERNAME' | translate }}</mat-card-content>
        </mat-card>
        <mat-card *ngIf="verificationCodeIncorrect" class="error-mat-card" matRipple>
          <mat-card-content class="last-child">{{ 'FORGOT_PASSWORD_CODE_INCORRECT' | translate }}</mat-card-content>
        </mat-card>
        <mat-card *ngIf="verificationCodeRateLimitExceeded" class="error-mat-card" matRipple>
          <mat-card-content class="last-child">{{ 'FORGOT_PASSWORD_RATE_LIMIT_EXCEEDED' | translate }}</mat-card-content>
        </mat-card>

        <form #form="ngForm" (ngSubmit)="onSubmitForm(form)" fxFlex>
          <!-- Submit email state -->
          <div *ngIf="state.includes('SUBMIT_USERNAME')">
            <mat-form-field>
              <input
                id="username"
                matInput
                maxlength="190"
                minlength="3"
                name="username"
                ngModel
                placeholder="{{ 'SIGNIN_USERNAME' | translate }}"
                required
                type="text"
              />
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </div>

          <!-- Check code state -->
          <div *ngIf="state.includes('SUBMIT_CODE')">
            <mat-form-field>
              <input
                #emailVerificationCodeModel="ngModel"
                id="emailVerificationCode"
                matInput
                max="999999"
                min="100000"
                name="emailVerificationCode"
                ngModel
                number
                placeholder="{{ 'FORGOT_PASSWORD_CODE' | translate }}"
                required
                type="number"
              />
              <mat-error *ngIf="emailVerificationCodeModel.invalid">
                {{ 'FORGOT_PASSWORD_CODE_INVALID' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Update password state -->
          <div *ngIf="state.includes('SUBMIT_PASSWORD')">
            <mat-form-field>
              <input
                #passwordModel="ngModel"
                matInput
                minlength="5"
                name="password"
                ngModel
                placeholder="{{ 'SIGNIN_NEW_PASSWORD' | translate }}"
                required
                type="password"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                #passwordRepeatModel="ngModel"
                matInput
                minlength="5"
                name="password_repeat"
                ngModel
                placeholder="{{ 'SIGNIN_NEW_PASSWORD_REPEAT' | translate }}"
                required
                type="password"
              />
            </mat-form-field>
            <mat-error *ngIf="passwordRepeatModel.errors?.equalTo">
              {{ 'SIGNIN_PASSWORD_ARE_NOT_EQUAL' | translate }}
            </mat-error>
          </div>

          <div *ngIf="state.includes('FINISHED')">
            <mat-card class="success-mat-card" matRipple>
              <mat-card-content class="last-child">{{ 'FORGOT_PASSWORD_SUCCESSFUL' | translate }}</mat-card-content>
            </mat-card>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="2%" fxLayout.xs="column">
        <div fxFlex>
          <button
            (click)="form.ngSubmit.emit()"
            *ngIf="!state.includes('FINISHED')"
            [disabled]="!form.form.valid || sendingRequest"
            color="primary"
            mat-raised-button
            type="submit"
          >
            {{ 'NEXT' | translate }}
            <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
          </button>
        </div>
        <div fxFlex>
          <a color="accent" mat-raised-button routerLink="/auth/signin" style="float: right">
            <mat-icon>arrow_back</mat-icon>
            {{ 'BACK' | translate }}
          </a>
        </div>
      </mat-card-actions>

      <mat-progress-bar *ngIf="sendingRequest" mode="indeterminate" style="margin-top: 15px;"></mat-progress-bar>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
