<h1>
  <b>{{ 'EVENTS_ADMINISTRATION_INFO_EVENT' | translate }}</b> {{ event.name }}
  <span style="color: gray;" *ngIf="objectLoaded">({{ event.getUntil() }})</span>
</h1>
<app-event-info [eventId]="event.id" (eventLoaded)="eventLoaded($event)"></app-event-info>
<button mat-fab [fxHide.gt-sm]="true" aria-label="Go back button" class="my-fab" routerLink="/home">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
