<h2>{{'MANAGEMENT_PERFORMANCE_BADGES_REMOVE_INSTRUMENT_MODAL_TITLE' | translate}}</h2>
<mat-nav-list>
  <a (click)="yes()" mat-list-item>
    <span mat-line>{{'YES' | translate}}</span>
  </a>
  <a (click)="no()" mat-list-item>
    <span mat-line>{{'NO' | translate}}</span>
  </a>
</mat-nav-list>
