<h1 mat-dialog-title>{{'MANAGEMENT_GROUPS_UPDATE_SUBGROUP_MODAL_TITLE' | translate}} {{name}}</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onUpdate(form)">
    <div class="row">
      <mat-form-field class="col-12">
        <!-- Title -->
        <input #nameModel="ngModel" [(ngModel)]="name" id="name" matInput
               maxlength="190" name="name" ngModel
               placeholder="{{'MANAGEMENT_GROUPS_CREATE_SUBGROUP_MODAL_FORM_NAME' | translate}}" required
               type="text">
        <mat-error *ngIf="nameModel.invalid">
          {{'MANAGEMENT_GROUPS_CREATE_SUBGROUP_MODAL_FORM_NAME_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row" style="margin-top: 18px">
      <mat-form-field class="col-12">
        <!-- Title -->
        <input #descriptionModel="ngModel" [(ngModel)]="description" id="description" matInput
               maxlength="190" name="description" ngModel
               placeholder="{{'MANAGEMENT_GROUPS_CREATE_SUBGROUP_MODAL_FORM_DESCRIPTION' | translate}}"
               type="text">
        <mat-error *ngIf="descriptionModel.invalid">
          {{'MANAGEMENT_GROUPS_CREATE_SUBGROUP_MODAL_FORM_DESCRIPTION_INCORRECT' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions style="margin-top: 15px">
  <button [mat-dialog-close] mat-button>{{'CLOSE' | translate}}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" class="success-button"
          mat-button>{{'SAVE' | translate}}</button>
</div>
