<h1 mat-dialog-title>{{ 'ABOUT' | translate }}</h1>
<mat-dialog-content>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'ABOUT_GENERAL' | translate }}">
      <div class="entry">
        <h3>{{ 'ABOUT_DESCRIPTION' | translate }}</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h3>
          <a href="https://datepoll.org" rel="noopener" target="_blank">{{ 'ABOUT_VISIT_DATEPOLL' | translate }}</a>
        </h3>
      </div>
      <mat-divider></mat-divider>
    </mat-tab>
    <mat-tab label="{{ 'ABOUT_TECHNICAL' | translate }}">
      <div class="entry">
        <h3>{{ 'ABOUT_FRONTEND_VERSION' | translate }}{{ frontendVersion }}</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h3>{{ 'ABOUT_BACKEND_VERSION' | translate }}{{ backendVersion }}</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h3>{{ 'ABOUT_NEEDED_BACKEND_VERSION' | translate }}{{ requiredBackendVersion }}</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h3><a href="https://docs.datepoll.org" rel="noopener" target="_blank">DatePoll Documentation</a></h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h3><a href="https://gitlab.com/DatePoll/datepoll-frontend/" rel="noopener" target="_blank">Frontend Source Code</a></h3>
      </div>
      <div class="entry">
        <h3><a href="https://gitlab.com/DatePoll/datepoll-android/" rel="noopener" target="_blank">Android App Source Code</a></h3>
      </div>
      <div class="entry">
        <h3><a href="https://gitlab.com/DatePoll/datepoll-backend-php/" rel="noopener" target="_blank">Backend Source Code</a></h3>
      </div>
      <mat-divider></mat-divider>
      <div class="entry">
        <h1>Used libraries</h1>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://angular.io/">MIT Angular</a></h3>
      </div>
      <div class="entry">
        <h3>
          <a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular-material-extensions/fab-menu"
            >MIT @angular-material-extensions/fab-menu</a
          >
        </h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/angular-calendar">MIT angular-calendar</a></h3>
      </div>
      <div class="entry">
        <h3>
          <a rel="noopener" target="_blank" href="https://www.npmjs.com/package/angular2-notifications">MIT Angular2-Notifications</a>
        </h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/angularx-qrcode">MIT angularx-qrcode</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/bootstrap">MIT bootstrap</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/core-js">MIT core-js</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/date-fns">MIT date-fns</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/file-saver">MIT file-saver</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/leaflet">BSD-2-Clause leaflet</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/ngx-color">MIT ngx-color</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/ngx-mat-select-search">MIT ngx-mat-select-search</a></h3>
      </div>
      <div class="entry">
        <h3><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/xlsx">Apache-2.0 xlsx</a></h3>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
</mat-dialog-actions>
