<mat-card class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>{{ event.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ event.startDate | date: 'EE, dd.MM.yyyy HH:mm' }} - {{ event.endDate | date: 'EE, dd.MM.yyyy HH:mm' }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p style="margin-left: 15px;" *ngIf="event?.description?.length > 0">
      {{ event.description }}
    </p>
    <p style="margin-left: 15px;" *ngIf="event?.additionalInformation?.length > 0">
      {{ 'EVENTS_VIEW_EVENT_CARD_ADDITIONAL_INFORMATION' | translate }} <i>{{ event.additionalInformation }}</i>
    </p>
    <b style="margin-left: 15px;" *ngIf="event?.userDecision?.length > 0">
      {{ 'EVENTS_VIEW_EVENT_CARD_VOTED_FOR' | translate }}: {{ event.userDecision }}
    </b>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onVote()" *ngIf="!event.alreadyVotedFor" color="primary" mat-flat-button [disabled]="voting" [class.spinner]="voting">
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_DECIDE' | translate }}
    </button>
    <button
      [disabled]="cancellingVoting"
      [class.spinner]="cancellingVoting"
      (click)="cancelVoting()"
      *ngIf="event.alreadyVotedFor"
      [style.background-color]="event.decisionColor"
      mat-flat-button
    >
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_CANCEL_VOTING' | translate }}
    </button>
    <button (click)="onInfo(event)" mat-button>
      <mat-icon>info</mat-icon>
      {{ 'EVENTS_VIEW_EVENT_CARD_BUTTON_INFO' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
