@import '../node_modules/angular-calendar/css/angular-calendar.css';

/* Use roboto font reset everything  */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  cursor: pointer;
}

/* ----- Show different datepicker for mobile and desktop ----- */
#datepicker-field {
  display: unset;
}

#datepicker-field-mobile {
  display: none;
}

.datepicker-field {
  display: unset !important;
}

.datepicker-field-mobile {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  #datepicker-field {
    display: none;
  }

  #datepicker-field-mobile {
    display: unset;
  }

  .datepicker-field {
    display: none !important;
  }

  .datepicker-field-mobile {
    display: unset !important;
  }
}
/* ------------------------------------------------------------- */

.not-selectable {
  user-select: none;
}

/* Disable stepper */
.mat-vertical-stepper-header {
  pointer-events: none !important;
}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Fix ripple bug which expand the card*/
.mat-card .last-child {
  margin-bottom: 0;
}

/* Different mat-card styles */
.success-mat-card {
  user-select: none;
  background-color: #689f38;
}

.error-mat-card {
  user-select: none;
  background-color: #ff5722;
}

.info-mat-card {
  user-select: none;
  background-color: #29b6f6;
}

/* Different button styles */
.success-button {
  background-color: #b0b0b0;
  color: #ffffff;
}

.info-button {
  background-color: #29b6f6;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Loading animation for buttons */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
