<div id="signin-container" class="dark-theme">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="45%" fxFlex.lt-md="80%" fxFlex.xs="90%" id="signin-card">
      <mat-card-title-group>
        <mat-card-title>
          <p class="projectName">{{ serverInfo.community_name }}</p>
        </mat-card-title>

        <mat-card-title> DatePoll | {{ 'SIGNIN' | translate }} </mat-card-title>
      </mat-card-title-group>

      <form #f="ngForm" (ngSubmit)="onSignin(f)" *ngIf="state === 'login'">
        <mat-card-content>
          <div fxLayout="column">
            <mat-form-field>
              <input
                id="username"
                matInput
                maxlength="190"
                minlength="3"
                name="username"
                ngModel
                placeholder="{{ 'SIGNIN_USERNAME' | translate }}"
                required
                type="text"
              />
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
                id="password"
                matInput
                #passwordModel="ngModel"
                minlength="6"
                name="password"
                ngModel
                placeholder="{{ 'SIGNIN_PASSWORD' | translate }}"
                required
                type="password"
              />
              <mat-error *ngIf="passwordModel.invalid">
                {{ 'SIGNIN_PASSWORD_REQUIREMENTS' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-hint *ngIf="loginFail">
              <strong style="color: red">{{ 'SIGNIN_USERNAME_OR_PASSWORD_INCORRECT' | translate }}</strong>
            </mat-hint>
          </div>
        </mat-card-content>

        <mat-card-actions style="margin-top: 10px;">
          <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="2%" fxLayout.xs="column">
            <div fxFlex>
              <button
                *ngIf="!showLoadingSpinnerDuringLogin"
                [disabled]="!f.valid"
                style="width: 100%; margin-bottom: 15px;"
                color="primary"
                mat-raised-button
                type="submit"
              >
                {{ 'SIGNIN' | translate }}
                <mat-icon aria-label="Send icon">send</mat-icon>
              </button>
            </div>

            <div fxFlex>
              <a
                *ngIf="!showLoadingSpinnerDuringLogin"
                color="accent"
                mat-raised-button
                style="float: right; width: 100%"
                routerLink="/auth/forgotPassword"
              >
                Password vergessen?
                <mat-icon>verified_user</mat-icon>
              </a>
            </div>
          </div>

          <mat-progress-bar
            *ngIf="showLoadingSpinnerDuringLogin"
            style="margin-bottom: 15px; width: 100%"
            mode="indeterminate"
          ></mat-progress-bar>
        </mat-card-actions>
      </form>

      <!-- Change password after sign in-->
      <form
        (ngSubmit)="onChangePasswordAfterSignin(changePasswordAfterSigninForm)"
        *ngIf="state === 'changePassword'"
        [formGroup]="changePasswordAfterSigninForm"
      >
        <mat-card style="background-color: #b2ff59; color: black;" class="not-selectable">
          <mat-card-content class="last-child">
            {{ 'SIGNIN_YOU_NEED_TO_CHANGE_PASSWORD' | translate }}
          </mat-card-content>
        </mat-card>

        <mat-card-content>
          <div fxLayout="column" formGroupName="passwords">
            <mat-form-field>
              <input
                formControlName="password"
                matInput
                name="password"
                placeholder="{{ 'SIGNIN_NEW_PASSWORD' | translate }}"
                type="password"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                formControlName="repeat"
                matInput
                name="repeat"
                placeholder="{{ 'SIGNIN_NEW_PASSWORD_REPEAT' | translate }}"
                type="password"
              />
            </mat-form-field>
            <mat-error *ngIf="changePasswordAfterSigninForm?.controls?.passwords?.errors?.wrongLength">
              {{ 'SIGNIN_PASSWORD_REQUIREMENTS' | translate }}
            </mat-error>
            <mat-error *ngIf="changePasswordAfterSigninForm?.controls?.passwords?.errors?.notSame">
              {{ 'SIGNIN_PASSWORD_ARE_NOT_EQUAL' | translate }}
            </mat-error>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button [disabled]="!changePasswordAfterSigninForm.valid" color="primary" mat-raised-button type="submit" style="width: 100%">
            {{ 'SIGNIN_AND_CHANGE_PASSWORD' | translate }}
            <mat-icon aria-label="Submit icon">send</mat-icon>
          </button>
        </mat-card-actions>
      </form>

      <div *ngIf="state === 'notActivated'">
        <mat-card style="background-color: #b2ff59" class="not-selectable" matRipple>
          <mat-card-content class="last-child">
            <h3>{{ 'SIGNIN_ACCOUNT_NOT_ACTIVATED' | translate }}</h3>
          </mat-card-content>
        </mat-card>

        <mat-card-actions>
          <button (click)="state = 'login'" color="primary" mat-flat-button>
            {{ 'NEXT' | translate }}
          </button>
        </mat-card-actions>
      </div>

      <button (click)="openMobileAppBottomSheet()" mat-stroked-button style="width: 100%; margin-top: 10px;">
        {{ 'SIGNIN_APP_INFO' | translate }}
      </button>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
