#signin-container {
  background-color: #212121;
  height: 90%;
  min-width: 100%;
  padding-top: 15vh;
}

.projectName {
  font-family: monospace;
  line-height: 1.1;
  border-left-style: solid;
  border-color: #26a69a;
  padding-left: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#signin-card {
  padding-bottom: 15px;
  padding-top: 0;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin-bottom: 0;
}
