<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="navBarOpened" [mode]="navBarMode">
    <h2 class="sidenav-head-text">Hallo {{ firstname }},</h2>
    <h4 class="sidenav-head-text">{{ username }}</h4>

    <mat-nav-list>
      <mat-divider></mat-divider>
      <a (click)="onPageChange()" mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        Home</a
      >

      <a (click)="onPageChange()" mat-list-item routerLink="calendar" routerLinkActive="activated">
        <mat-icon>today</mat-icon>
        {{ 'CALENDAR' | translate }}</a
      >

      <mat-divider></mat-divider>

      <div *ngIf="serverInfo?.events_enabled">
        <a (click)="onPageChange()" mat-list-item routerLink="/home/events/start" routerLinkActive="activated">
          <mat-icon>polls</mat-icon>
          {{ 'NAV_EVENTS_EVENTS' | translate }}
        </a>

        <a
          (click)="onPageChange()"
          *ngIf="myUserService.hasPermission(eventAdministration)"
          mat-list-item
          routerLink="/home/events/administration"
          routerLinkActive="activated"
        >
          <mat-icon>class</mat-icon>
          {{ 'NAV_EVENTS_ADMINISTRATION' | translate }}
        </a>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="serverInfo.cinema_enabled">
        <a (click)="onPageChange()" mat-list-item routerLink="/home/cinema/tickets" routerLinkActive="activated">
          <mat-icon>movie</mat-icon>
          {{ 'NAV_CINEMA_TICKETS' | translate }}
        </a>
        <a (click)="onPageChange()" mat-list-item routerLink="/home/cinema/service" routerLinkActive="activated">
          <mat-icon>card_giftcard</mat-icon>
          {{ 'NAV_CINEMA_SERVICE' | translate }}
        </a>
        <a
          (click)="onPageChange()"
          *ngIf="myUserService.hasPermission(cinemaMovieAdministration)"
          mat-list-item
          routerLink="/home/cinema/administration"
          routerLinkActive="activated"
        >
          <mat-icon>local_movies</mat-icon>
          {{ 'NAV_CINEMA_ADMINISTRATION' | translate }}</a
        >
        <mat-divider></mat-divider>
      </div>

      <a (click)="onPageChange()" mat-list-item routerLink="settings" routerLinkActive="activated">
        <mat-icon>settings</mat-icon>
        {{ 'NAV_USER_SETTINGS' | translate }}
      </a>

      <mat-divider></mat-divider>
      <div *ngIf="myUserService.hasPermission(managementAdministration)">
        <a (click)="onPageChange()" mat-list-item routerLink="management/user" routerLinkActive="activated">
          <mat-icon>contacts</mat-icon>
          {{ 'NAV_MANAGEMENT_USERS' | translate }}
        </a>
      </div>

      <div *ngIf="myUserService.hasPermission(managementAdministration)">
        <a (click)="onPageChange()" mat-list-item routerLink="management/group" routerLinkActive="activated">
          <mat-icon>group</mat-icon>
          {{ 'NAV_MANAGEMENT_GROUPS' | translate }}
        </a>
      </div>

      <div *ngIf="myUserService.hasPermission(managementAdministration)">
        <a (click)="onPageChange()" mat-list-item routerLink="management/performanceBadges" routerLinkActive="activated">
          <mat-icon>star_rate</mat-icon>
          {{ 'NAV_MANAGEMENT_PERFORMANCE_BADGES' | translate }}
        </a>
      </div>

      <div *ngIf="myUserService.hasPermission(settingsAdministration) || myUserService.hasPermission(logsAdministration)">
        <mat-divider></mat-divider>
        <a (click)="onPageChange()" mat-list-item routerLink="management/datepoll" routerLinkActive="activated">
          <mat-icon>settings_input_component</mat-icon>
          {{ 'NAV_MANAGEMENT_DATEPOLL' | translate }}
        </a>
      </div>

      <mat-divider></mat-divider>
      <a (click)="changeTheme()" mat-list-item>
        <mat-icon>brightness_medium</mat-icon>
        {{ 'NAV_CHANGE_THEME' | translate }}
      </a>

      <mat-divider></mat-divider>
      <a (click)="logout()" mat-list-item>
        <mat-icon>power_settings_new</mat-icon>
        {{ 'NAV_LOGOUT' | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5" color="primary">
      <mat-icon (click)="sidenav.toggle()" class="toolbar-sidenav-toggler">menu</mat-icon>
      <span class="toolbar-heading" routerLink="/home">{{ serverInfo.community_name }}</span>
    </mat-toolbar>

    <div class="my-container" id="my-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
