.my-container {
  margin-top: 50px;
  padding: 15px;
  min-height: 80vh;
}

mat-toolbar {
  position: fixed;
  z-index: 1000;
}

.toolbar-sidenav-toggler {
  cursor: pointer;
}

.toolbar-heading {
  cursor: pointer;
  margin-left: 15px;
}

mat-sidenav {
  position: fixed;
  width: 100%;
  max-width: 300px;
}

.sidenav-head-text {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  word-break: break-all;
}

.activated {
  background-color: #bdbdbd !important;
}

.activated:hover {
  background-color: #bdbdbd !important;
}

mat-icon {
  margin-right: 5px;
}
