<h2 mat-dialog-title>{{ 'SETTINGS_PERSONAL_DATA_PERSONAL_DATA_CHANGE' | translate }}</h2>
<mat-dialog-content>
  <app-do-not-forget-to-save></app-do-not-forget-to-save>

  <form #form="ngForm" (ngSubmit)="saveData()" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="start">
    <mat-form-field fxFlex="10%" fxFlex.lt-lg="10%">
      <input
        #titleModel="ngModel"
        [(ngModel)]="title"
        id="title"
        matInput
        maxlength="190"
        name="title"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_TITLE' | translate }}"
        type="text"
      />
      <mat-error *ngIf="titleModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_TITLE_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" fxFlex.lt-lg="40%">
      <input
        #firstnameModel="ngModel"
        [(ngModel)]="firstname"
        id="firstname"
        matInput
        maxlength="190"
        minlength="1"
        name="firstname"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_FIRSTNAME' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="firstnameModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_FIRSTNAME_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" fxFlex.lt-lg="40%">
      <input
        #surnameModel="ngModel"
        [(ngModel)]="surname"
        id="surname"
        matInput
        maxlength="190"
        minlength="1"
        name="surname"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_SURNAME' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="surnameModel.invalid">
        {{ 'SETTINGng sS_PERSONAL_DATA_MODAL_PERSONAL_DATA_SURNAME_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="20%" fxFlex.lt-lg="45%">
      <input
        [(ngModel)]="birthday"
        [matDatepicker]="picker"
        id="datepicker"
        matInput
        name="datepicker"
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_BIRTHDAY' | translate }}"
        required
      />
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="30%" fxFlex.lt-lg="45%">
      <input
        #streetnameModel="ngModel"
        [(ngModel)]="streetname"
        id="streetname"
        matInput
        maxlength="190"
        name="streetname"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNAME' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="streetnameModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNAME_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="15%" fxFlex.lt-lg="20%">
      <input
        #streetnumberModel="ngModel"
        [(ngModel)]="streetnumber"
        id="streetnumber"
        matInput
        maxlength="190"
        name="streetnumber"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNUMBER' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="streetnumberModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_STREETNUMBER_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="15%" fxFlex.lt-lg="20%">
      <input
        #zipcodeModel="ngModel"
        [(ngModel)]="zipcode"
        min="1000"
        max="9999"
        id="zipcode"
        matInput
        name="zipcode"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_ZIPCODE' | translate }}"
        required
        type="number"
      />
      <mat-error *ngIf="zipcodeModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_ZIPCODE_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" fxFlex.lt-lg="50%">
      <input
        #locationModel="ngModel"
        [(ngModel)]="location"
        id="location"
        matInput
        maxlength="190"
        name="location"
        ngModel
        placeholder="{{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_LOCATION' | translate }}"
        required
        type="text"
      />
      <mat-error *ngIf="locationModel.invalid">
        {{ 'SETTINGS_PERSONAL_DATA_MODAL_PERSONAL_DATA_LOCATION_NOT_VALID' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
  <button (click)="form.ngSubmit.emit()" [disabled]="!form.form.valid" color="primary" mat-flat-button mat-dialog-close>
    {{ 'SAVE' | translate }}
  </button>
</mat-dialog-actions>
