mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-row:hover {
  background-color: #EEEEEE;
}

.mat-cell,
.mat-header-cell {
  width: 4%;
  word-wrap: initial;
  display: table-cell;
  padding: 0 5px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

td > a {
  color: rgb(63, 81, 181);
}

td > a:hover {
  border-bottom-style: solid;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-cell {
  padding-right: 35px !important;
}
